<nav>
    {% if articles_page.has_next() %}
    <a rel="next" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">&larr; Postagens anteriores</a>
    {% endif %}
    <a href="{{ SITEURL }}/index.html">Início</a>
    <a href="{{ SITEURL }}/archives.html">Arquivo</a>

    {% if articles_page.has_previous() %}
    {% if articles_page.previous_page_number() == 1 %}
    <a rel="prev" href="{{ SITEURL }}/{{ page_name }}.html">Postagens posteriores &rarr;</a>
    {% else %}
    <a rel="prev" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">Postagens posteriores &rarr;</a>
    {% endif %}
    {% endif %}
</nav>
